<header class="row top-offer">
	<p class="text-center">EXCLUSIVE TODAY : LINGERIE AT 60%. LIMITED STOCKS.</p>
</header>
<header class="row top">
	<a href="/" class="zivlogo"></a>
</header>
<div class="main-banner">
	<a href="/">
		<img src="http://cdn.zivame.mobi/media/wysiwyg/home_new/7everyday_main_20_11.jpg" alt="MainBanner">
	</a>
</div>
<div class="row main-section">
	<div class="small-12 large-6 columns">
		<a class="thumbnail" href="/">
			<img src="http://cdn.zivame.mobi/media/wysiwyg/home_new/sale_rect_24_11_new.jpg" alt="banner">
		</a>
	</div>
	<div class="small-12 large-6 columns">
		<a class="thumbnail" href="/">
			<img src="http://cdn.zivame.mobi/media/wysiwyg/home_new/sale_rect_24_11_new.jpg" alt="banner">
		</a>
	</div>
	<div class="small-12 large-6 columns">
		<a class="thumbnail" href="/">
			<img src="http://cdn.zivame.mobi/media/wysiwyg/home_new/sale_rect_24_11_new.jpg" alt="banner">
		</a>
	</div>
</div>
