<div id="splashscreen"></div>
<header class="row top-offer">
	<div class="small-12 medium-6 columns">
		<span>EXCLUSIVE TODAY : LINGERIE AT 60%. LIMITED STOCKS.</span>
	</div>
	<div class="small-12  medium-4 columns">
		<button class="success button small">Shop Now</button>
	</div>
	<div class="small-12 medium-2 columns">
		<span class="">33:12:12</span>
	</div>
</header>
<header class="row top">
	<div class="row">
		<span>call to order (080)4922-1777</span>
	</div>
	<div class="row">
		<a href="/" class="zivlogo"></a>
	</div>
</header>
<div class="main-banner">
	<a href="/">
		<img src="http://cdn.zivame.mobi/media/wysiwyg/home_new/7everyday_main_20_11.jpg" alt="MainBanner">
	</a>
</div>
<div class="main-section">
	<div class="row">
		<div class="small-12 medium-6 large-6 columns">
			<a href="/">
				<img src="http://cdn.zivame.mobi/media/wysiwyg/home_new/sale_rect_24_11_new.jpg" alt="banner">
			</a>
		</div>
		<div class="small-12 medium-6 large-6 columns">
			<a href="/">
				<img src="http://cdn.zivame.mobi/media/wysiwyg/home_new/sale_rect_24_11_new.jpg" alt="banner">
			</a>
		</div>
		<div class="small-12 medium-6 large-6 columns">
			<a href="/">
				<img src="http://cdn.zivame.mobi/media/wysiwyg/home_new/sale_rect_24_11_new.jpg" alt="banner">
			</a>
		</div>
		<div class="small-12 medium-6 large-6 columns">
			<div>
				<a href="/">
					<img src="http://cdn.zivame.mobi/media/wysiwyg/home_new/sale_rect_24_11_new.jpg" alt="banner">
				</a>
			</div>
		</div>
	</div>
</div>
<footer>
	<div id="footer-inner">
		<div class="row">
			<div class="small-12 medium-12 large-9 columns">
				<div class="row">
					<ul class="small-12 medium-3 large-3 columns accordion" data-accordion>
						<li class="accordion-navigation">
							<a href="#panelAboutUs">About Us</a>
							<div id='panelAboutUs' class="content animated  ">
								<div><a href="/">Who Are We</a></div>
								<div> <a href="/">10 Things About Us</a></div>
								<div> <a href="/">Richas's Story</a></div>
								<div> <a href="/">Our People</a></div>
								<div> <a href="/">Investors</a></div>
								<div> <a href="/">Press Center</a></div>
								<div> <a href="/">Why shop On Zivame</a></div>
								<div> <a href="/">Careers</a></div>
							</div>
						</li>
					</ul>
					<ul class="small-12 medium-3 large-3 columns accordion" data-accordion>
						<li class="accordion-navigation">
							<a href="#panelCustomerService">Customer Service</a>
							<div id="panelCustomerService" class="content animated ">
								<div><a href="/">Contact Us</a></div>
								<div> <a href="/">FAQ</a></div>
								<div> <a href="/">Track Order/Returns</a></div>
								<div> <a href="/">Shipping Policy</a></div>
								<div> <a href="/">Return Policy</a></div>
								<div> <a href="/">Disclaimer Policy</a></div>
								<div> <a href="/">Disclaimer Policy</a></div>
								<div> <a href="/">Discreet Packing</a></div>
							</div>
						</li>
					</ul>
					<ul class="small-12 medium-3 large-3 columns accordion" data-accordion>
						<li class="accordion-navigation">
							<a href="#panelLetUsHelpYouShop">Let Us Help You Shop</a>
							<div id="panelLetUsHelpYouShop" class="content animated animated">
								<div><a href="/">Bra Size Calculator</a></div>
								<div> <a href="/">Caring for lingerie</a></div>
								<div> <a href="/">Fitting Guides</a></div>
								<div> <a href="/">Gift Card</a></div>
								<div> <a href="/">Lingerie Solutions</a></div>
								<div> <a href="/">Follow My curve blogs</a></div>
								<div> <a href="/">Zivame Answers</a></div>
							</div>
						</li>
					</ul>
					<ul class="small-12 medium-3 large-3 columns accordion" data-accordion>
						<li class="accordion-navigation">
							<a href="#panelExploreZivame">Explore Zivame</a>
							<div id="panelExploreZivame" class="content animated">
								<div><a href="/">Bras</a></div>
								<div> <a href="/">Panty</a></div>
								<div> <a href="/">Nightwear</a></div>
								<div> <a href="/">Shapewear</a></div>
								<div> <a href="/">Fast Fashion</a></div>
								<div> <a href="/">Leisurewear</a></div>
								<div> <a href="/">Sportswear</a></div>
								<div> <a href="/">Swimwear</a><divi>
								<div> <a href="/">Plus Size</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div id="keepInTouch" class="small-12 medium-12 large-3 columns">
				<div class="row">
					<a href="javascript:void(0)">Keep In touch</a>
				</div>
				<div class="row">
					<p>We send out monthly updates about special deals, product launches & a whole bunch of other goodies.</p>
				</div>
				<div class="row">
					<p>Subscribe to our newsletter</p>
					<input placeholder="Enter Email Address">
				</div>
			</div>
			<div id="footer-end">
			</div>
</footer>
