<div id="splashscreen"></div>
<header class="row top-offer">
	<div class="small-12 large-6 columns">
		<p>EXCLUSIVE TODAY : LINGERIE AT 60%. LIMITED STOCKS.</p>
	</div>
	<div class="small-12 large-6 columns text-center">
		<button class="small-12 large-6 columns success button">Shop Now</button>
		<span class="small-12 large-6 columns">33:12:12</span>
	</div>
</header>
<header class="row top">
	<div class="row">
		<span>call to order (080)4922-1777</span>
	</div>
	<div class="row">
		<a href="/" class="zivlogo"></a>
	</div>
</header>
<div class="main-banner">
	<a href="/">
		<img src="http://cdn.zivame.mobi/media/wysiwyg/home_new/7everyday_main_20_11.jpg" alt="MainBanner">
	</a>
</div>
<div class="main-section">
	<div class="row">
		<div class="small-12 medium-6 large-6 columns">
			<a href="/">
				<img src="http://cdn.zivame.mobi/media/wysiwyg/home_new/sale_rect_24_11_new.jpg" alt="banner">
			</a>
		</div>
		<div class="small-12 medium-6 large-6 columns">
			<a href="/">
				<img src="http://cdn.zivame.mobi/media/wysiwyg/home_new/sale_rect_24_11_new.jpg" alt="banner">
			</a>
		</div>
		<div class="small-12 medium-6 large-6 columns">
			<a href="/">
				<img src="http://cdn.zivame.mobi/media/wysiwyg/home_new/sale_rect_24_11_new.jpg" alt="banner">
			</a>
		</div>
		<div class="small-12 medium-6 large-6 columns">
			<div>
				<a href="/">
					<img src="http://cdn.zivame.mobi/media/wysiwyg/home_new/sale_rect_24_11_new.jpg" alt="banner">
				</a>
			</div>
		</div>
	</div>
</div>
<footer>
	<div id="footer-inner">
		<div class="row">
			<div class="small-12 medium-12 large-9 columns">
				<div class="small-12 medium-12 large-3 columns footer-col">
					<a href="/">About Us</a>
					<li><a href="/">Who Are We</a></li>
					<li> <a href="/">10 Things About Us</a></li>
					<li> <a href="/">Richas's Story</a></li>
					<li> <a href="/">Our People</a></li>
					<li> <a href="/">Investors</a></li>
					<li> <a href="/">Press Center</a></li>
					<li> <a href="/">Why shop On Zivame</a></li>
					<li> <a href="/">Careers</a></li>
				</div>
				<div class="small-12 medium-12 large-3 columns footer-col">
					<a href="/">Customer Service</a>
					<li><a href="/">Contact Us</a></li>
					<li> <a href="/">FAQ</a></li>
					<li> <a href="/">Track Order/Returns</a></li>
					<li> <a href="/">Shipping Policy</a></li>
					<li> <a href="/">Return Policy</a></li>
					<li> <a href="/">Disclaimer Policy</a></li>
					<li> <a href="/">Disclaimer Policy</a></li>
					<li> <a href="/">Discreet Packing</a></li>
				</div>
				<div class="small-12 medium-12 large-3 columns footer-col">
					<a href="/">Let Us Help You Shop</a>
					<li><a href="/">Bra Size Calculator</a></li>
					<li> <a href="/">Caring for lingerie</a></li>
					<li> <a href="/">Fitting Guides</a></li>
					<li> <a href="/">Gift Card</a></li>
					<li> <a href="/">Lingerie Solutions</a></li>
					<li> <a href="/">Follow My curve blogs</a></li>
					<li> <a href="/">Zivame Answers</a></li>
				</div>
				<div class="small-12 medium-12 large-3 columns footer-col">
					<a href="/">Explore Zivame</a>
					<li><a href="/">Bras</a></li>
					<li> <a href="/">Panty</a></li>
					<li> <a href="/">Nightwear</a></li>
					<li> <a href="/">Shapewear</a></li>
					<li> <a href="/">Fast Fashion</a></li>
					<li> <a href="/">Leisurewear</a></li>
					<li> <a href="/">Sportswear</a></li>
					<li> <a href="/">Swimwear</a></li>
					<li> <a href="/">Plus Size</a></li>
				</div>
			</div>
			<divd="footer-end">
		</div>
</footer>
